@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Kablammo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Kablammo&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter, .didDTwoLetter {
  font-size: 48px;
  color: green;
  text-decoration: line-through;
}

.yellow-letter{
  font-family: 'Kablammo', sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  color: yellow;
  background-color: #000;
}

/* THE word */

.theTLetter {
  font-family: 'Orbitron';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 64px;
  color: darkblue;
  background-color: coral;
}

.theHLetter {
  font-size: 78px;
  font-weight: 400;
  text-decoration: none;
  font-family: 'Barriecito', sans-serif;
  color: rgb(222, 35, 50);
  text-decoration: underline;
  text-transform: uppercase;
}

.magenta-letter {
  font-size: 36px;
  color: #de45de;
  font-weight: normal;
  text-decoration: overline;
  text-transform: lowercase;
  background-color: aquamarine;
  font-family: 'Kablammo', sans-serif;
  border-radius: 5px;
}

/* FRONT-END word */

.circle {
  font-size: 40px;
  color: #455945;
  font-family: 'Ceviche', sans-serif;
  text-transform: lowercase;
  text-decoration: none;
  background-color: bisque;
  border-radius: 50px;
  font-weight: 700;
}

.o-letter {
  text-decoration: line-through;
  color: rgb(237, 186, 150);
  background-color: rgba(0, 100, 100, 0.6);
  border-radius: 10px;
  font-weight: normal;
}

.hyphen {
  font-size: 40px;
  background-color: #66ccff;
  color: #ccf
}

.frontendNLetter {
  color: rgba(55, 55, 55, 0.5);
  background-color: #ccccff;
}


.frontendDLetter {
  font-size: 58px;
  font-family: 'Ceviche', sans-serif;
  background-color: #66ccff;
}

/* DEVELOPER word */

.letter-e {
  color: #ff9933;
  font-size: 35px;
  text-transform: uppercase;
  background-color: yellow;
  font-weight: bold;
  text-decoration: overline;
  font-family: 'Piazzolla', sans-serif;
}

.letter-i {
  font-size: 31px;
  color: #f00;
  font-weight: 700;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Orbitron', sans-serif;
}

.letter-v {
  font-size: 25px;
  color: #ff936f;
  font-weight: 700;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Orbitron', sans-serif;
  background-color: green;
}
.letter-b {
  font-size: 42px;
  color: #06f;
  font-weight: 400;
  text-decoration: none;
  text-transform: lowercase;
  background-color: beige;
}

.letter-p {
  font-size: 37px;
  color: #93f;
  font-weight: normal;
  text-decoration: line-through;
  text-transform: uppercase;
  background-color: #ff936f;
}
.letter-r {
  color: #783BC4;
  background-color: #87C43B;
}

/* TAKE word */

.takeTLetter, .theyTLetter, .wantedTLetter, .toTLetter, .theirTLetter, .rootTLetter {
  color: #E91672;
  background-color: #16E98D;
  font-weight: bold;
  text-decoration: none;
}


/* UP word */

.upULetter, .becauseULetter {
  font-size: 30px;
  color: #93756C;
  font-weight: normal;
  text-decoration: overline;
  text-transform: uppercase;
  background-color: #6C8A93;
}


/* GARDENING word */

.gardeningGLetter, .gardeningGTwoLetter {
  color: #8F90D2;
  font-family: 'Barriecito', sans-serif;
}
.gardeningNTwoLetter, .wantedNLetter {
  font-weight:400;
  font-size: 22px;
  background-color: #0A16F5;
}

.question-mark {
  color: black;
  font-weight: bold;
  background-color: white;
}
/* BECAUSE word */

.becauseCLetter, .theyYLetter {
  font-size: 65px;
  color: #F6E809;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}


/* THEY word */


/* WANTED word */

.wantedWLetter {
  font-size: 16;
  color: #C908F7;
  font-weight: 300;
  text-decoration: overline;
  text-transform: uppercase;
}
.wantedDLetter {
  color: #B8F6B0;
  border-radius: 6px;
}

/* TO word */

.toOLetter, .rootOTwoLetter {
  font-family: 'Kablammo', sans-serif;
  color: #3BC48B;
}

/* IMPROVE word */

.improveMLetter {
  background-color: #000;
  color: red;
  font-size: 50px;
  text-transform: uppercase;
}

/* THEIR word */
.theirHLetter {
  font-family: 'Orbitron', sans-serif;
  font-size: 60px;
  color: #F5C86C;
  font-weight: bold;
  text-decoration: overline;
}

/* ROOT word */

/* SKILLS word */

.skillsSLetter, .skillsSTwoLetter {
  font-size: 35px;
  font-weight: 700;
  color: #6CF5C8;
  background-color: #C86CF5;
  text-decoration: underline;

}
.skillsKLetter {
  font-size: 41px;
  font-weight: bold;
  color: #C85637;
}
.skillsLLetter, .skillsLTwoLetter{
  color: #DA7B74;
  background-color: #74DA7B;
  font-weight: 400;
  text-transform: uppercase;
}


/* SYMBOLS */
